body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
    color: black;
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

/*table {*/
    /*border-collapse: collapse;*/
/*}*/

/*th {*/
    /*border: 1px solid black;*/
/*}*/

/*td {*/
    /*border: 1px solid black;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/

/*ol {*/
    /*margin-bottom: 0;*/
    /*margin-top: 0;*/
/*}*/
